<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ericadubois"/>

    <!-- enables anntations such as @PostConstruct and @PreDestroy. Commenting out to use component scan context instead
    for @Component autowiring that allows us to no longer use xml.This context is already included in the component-scan.
    <context:annotation-config/> -->

    <!-- With Component scanning we no longer need the bean definitions as they will be found automatically by component
    scanning-->
    <!--<bean id="numberGenerator" class="com.ericadubois.NumberGeneratorImp"/>

    &lt;!&ndash; added init-method = "reset" so that is called by the container rather than in the Main.java class.
         In some cases this could also be added as a default in the beans tag above to apply to all beans
         when using xml to initialize this line should be added after "com.ericadubois.GameImp" init-method="reset"&ndash;&gt;
    <bean id ="game" class="com.ericadubois.GameImp" >
        &lt;!&ndash;used for constructor based dependency injection&ndash;&gt;
        &lt;!&ndash;<constructor-arg ref="numberGenerator"/>&ndash;&gt;

        &lt;!&ndash; No longer needed with autowiring.
        used for setter based dependency injection (name = field name, ref = bean id)
        <property name="numberGenerator" ref="numberGenerator"/>&ndash;&gt;
    </bean>
-->
    <!-- this is no longer needed since we added the context:annotation-config.
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/> -->
</beans>